/* .highlightText {
    color: black;
    background-color: #00ff00;
}

.highlightText span {
  background-color: #00bb00;
}

.highlightText span span {
  background-color: #008800;
}

.highlightText span span span {
  background-color: #005500;
}

.highlightText span span span span{
  background-color: #003300;
} */

iframe {
    display: inline;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}

#text {

    z-index: 1000;

}

#text span {
    color: black;
    background-color: #00ff00;
}

#text span span{
  background-color: #00bb00;
}

#text span span span {
  background-color: #008800;
}

#text span span span span {
  background-color: #005500;
}

#text span span span span span{
  background-color: #003300;
}

.beforeText {
    visibility: hidden;

}

pre {

    position: absolute;
    left: 0;
    top: 0;

}



pre {

    pointer-events: none;
}

pre .highlightText {

    pointer-events: all;

}

.ui-widget {
    font-family: Verdana, Arial, sans-serif;
    font-size: .8em;
}

.ui-widget-content {
    background: white;
    /*Change the dialog border color here*/
    border: 1px solid #CC99FF;
    color: #222222;
}

.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
 background: white;
}

#success {
    padding: 0;
    margin: 0;
}

.ui-dialog .ui-dialog-content {
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
}

.ui-widget-header {
    /*Change the Header color here*/
    background: #CC99FF;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 1em;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}


#dialog,.ui-dialog {
    z-index: 1001;
}

#dialog {
  visibility: hidden;
}

.form {
    margin: 10px;
}
